# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = off
indent_style = space
indent_size = 2

[{package.json,.travis.yml,.eslintrc*}]
indent_style = space
indent_size = 2

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[COMMIT_EDITMSG]
max_line_length = off
