# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
.project
*.swp
*.swo

# Dependency, Cache, Temporary
node_modules/
bower_components/
.svn/
.sass-cache/
.nodejs-cache/
npm-debug.log

# Distribution
coverage/
dist/
docs/
*.iml
