html {
  overflow-y: scroll;
}
html,
body {
  font-family: sans-serif;
}
[data-dpr="1"] body {
  font-size: 12px;
}
[data-dpr="2"] body {
  font-size: 24px;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
  display: none;
}
@charset "utf-8";
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
/* ref: http://www.zhihu.com/question/21093147/answer/17158909 */
html {
  color: #000;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  font-size: 100%;
}
/* 去掉各 Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自 yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* 正常链接 未访问 */
/* 鼠标悬停 */
a:hover {
  text-decoration: underline;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}
.grid {
  box-sizing: content-box;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin-left: -0.2rem;
}
.grid:before,
.grid:after {
  content: " ";
  display: table;
}
.grid:after {
  clear: both;
}
.grid [class^="col-"] {
  margin-left: 0.2rem;
  float: left;
}
.grid .col-1 {
  width: 1.1rem;
}
.grid .col-2 {
  width: 2.4rem;
}
.grid .col-3 {
  width: 3.7rem;
}
.grid .col-4 {
  width: 5rem;
}
.grid .col-5 {
  width: 6.3rem;
}
.grid .col-6 {
  width: 7.6000000000000005rem;
}
.grid .col-7 {
  width: 8.900000000000002rem;
}
.grid .col-8 {
  width: 10.200000000000001rem;
}
.grid .col-9 {
  width: 11.500000000000002rem;
}
.grid .col-10 {
  width: 12.8rem;
}
.grid .col-11 {
  width: 14.100000000000001rem;
}
.grid .col-12 {
  width: 15.400000000000002rem;
}
.grid-thin {
  box-sizing: content-box;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  margin-left: -0.4rem;
}
.grid-thin:before,
.grid-thin:after {
  content: " ";
  display: table;
}
.grid-thin:after {
  clear: both;
}
.grid-thin [class^="col-"] {
  margin-left: 0.4rem;
  float: left;
}
.grid-thin .col-1 {
  width: 0.9rem;
}
.grid-thin .col-2 {
  width: 2.2rem;
}
.grid-thin .col-3 {
  width: 3.5000000000000004rem;
}
.grid-thin .col-4 {
  width: 4.8rem;
}
.grid-thin .col-5 {
  width: 6.1rem;
}
.grid-thin .col-6 {
  width: 7.4rem;
}
.grid-thin .col-7 {
  width: 8.7rem;
}
.grid-thin .col-8 {
  width: 10rem;
}
.grid-thin .col-9 {
  width: 11.299999999999999rem;
}
.grid-thin .col-10 {
  width: 12.6rem;
}
.grid-thin .col-11 {
  width: 13.9rem;
}
.grid-thin .col-12 {
  width: 15.200000000000001rem;
}
.grid-fat {
  box-sizing: content-box;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-left: 0rem;
}
.grid-fat:before,
.grid-fat:after {
  content: " ";
  display: table;
}
.grid-fat:after {
  clear: both;
}
.grid-fat [class^="col-"] {
  margin-left: 0rem;
  float: left;
}
.grid-fat .col-1 {
  width: 1.3rem;
}
.grid-fat .col-2 {
  width: 2.6rem;
}
.grid-fat .col-3 {
  width: 3.9000000000000004rem;
}
.grid-fat .col-4 {
  width: 5.2rem;
}
.grid-fat .col-5 {
  width: 6.5rem;
}
.grid-fat .col-6 {
  width: 7.800000000000001rem;
}
.grid-fat .col-7 {
  width: 9.1rem;
}
.grid-fat .col-8 {
  width: 10.4rem;
}
.grid-fat .col-9 {
  width: 11.700000000000001rem;
}
.grid-fat .col-10 {
  width: 13rem;
}
.grid-fat .col-11 {
  width: 14.3rem;
}
.grid-fat .col-12 {
  width: 15.600000000000001rem;
}
